.formulaire,
.resultatFinal {
  height: 100%;
  width: 100%;
}

.questionnaire {
  height: 1080px !important;
  width: 1920px !important;
  display: inline-flex;
}

.resultatFinal {
  height: 1080px !important;
  width: 1920px !important;
  display: block;
}

.reponse {
  height: 270px;
  font-size: 24px;
  color: white;
}

.col-centered {
  padding-top: 10%;
  text-align: center;
}

.formulaire {
  margin-top: 2%;
  width: 50%;
}

.imageQ {
  height: 100%;
  width: 100%;
}

.startQ {
  margin-left: 40%;
  color: white !important;
  margin-top: 20px;
  text-align: center;
}

#chartContainer {
  width: 50%;
  margin: auto;
  height: 25% !important;
}

.question {
  height: 1080px;
  width: 960px;
}

.reponses {
  height: 1080px;
  width: 960px;
  cursor: pointer;
}

.resultatTexte {
  font-size: 24px;
  text-align: justify;
  text-justify: inter-word;
  width: 960px;
  margin: auto;
}
